<div id="wrapper">
  <div class="wrapper__content">
    <div class="pagination">
      <ul>
        <li 
          (click)="currentPage = currentPage - 1" 
          [ngClass]="{ none: currentPage === 0 }"
        >Previous</li>
        <ng-container *ngFor="let image of images; let i = index">
          <li 
            (click)="currentPage = i" 
            [ngClass]="{ active: i === currentPage }" 
            *ngIf="checkWindowIndex(i)"
          >{{ i + 1 }}</li>
        </ng-container>
        <li 
          (click)="currentPage = currentPage + 1" 
          [ngClass]="{ none: currentPage === images.length - 1 }"
        >Next</li>
      </ul>
    </div>
    <div class="image-area">
      <h4>{{ images[currentPage].title }}</h4>
      <img [src]="images[currentPage].url" alt="">
    </div>
  </div>
</div>